<!DOCTYPE html>
<html>
  <head>
  <meta charset=utf-8>
  <% if (process.env.NODE_ENV == 'production') { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <% } %>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <title>销大师-社交营销系统</title>
  <script>
    /Android|webOS|iPhone|iPod|iPad|BlackBerry/i.test(navigator.userAgent)
    && (window.location.href = "https://wap.xiaodashi.com/")
    // 百度统计分析代码
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?80e6084d9960c830df14c6ccc94b9d9f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <link rel="shortcut icon" href=/favicon.ico>
</head>
<body>
  <div id=app></div>
</body>
<script charset=utf-8 src="https://map.qq.com/api/js?v=2.exp&key=UP4BZ-ABRCG-GO4QQ-IJEKW-CP5HV-IMFGG">
</script>
</html>
