.market ul {
    width:100%;
}
 .market .nav-content li {
    float: left;
    width: 50%;
    overflow: hidden;
}
.active .nav1-icon h3{
    color: #409fff;
}
.nav1-icon{
 padding:40px 140px;
 text-align: center;
}
 .nav1:before {
    position: absolute;
    content: '';
    top: 40px;
    left: 240px;
    background-image: url(../img/Socialmarketing/icon_1shejiao_1.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 48px;
    z-index: 1;
}
.nav2:before {
    position: absolute;
    content: '';
    top: 40px;
    left: 240px;
    background-image: url(../img/Socialmarketing/icon_1zhineng_1.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 48px;
    z-index: 1;
}
.active .nav1-icon::after {
    position: absolute;
    top: 104px;
    right: 171px;
    width: 240px;
    height: 4px;
    content: "";
    background: #409fff;
}
.nav1::after {
    position: absolute;
    top: 104px;
    right: 171px;
    width: 188px;
    height: 4px;
    content: "";
    background: #fff;
}
.active .nav2:before {
    position: absolute;
    content: '';
    top: 40px;
    left: 240px;
    background-image: url(../img/Socialmarketing/icon_1zhineng.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 48px;
    z-index: 1;
}
.active .nav1:before {
    position: absolute;
    content: '';
    top: 40px;
    left: 240px;
    background-image: url(../img/Socialmarketing/icon_1shejiao.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 48px;
    z-index: 1;
}
section#reception2{
    width:100%;
    height:700px;
    background:url(../img/Intelligentreception/beijing_1.png) center ;
}
#reception3 img{
  width:auto;
}
#reception2 img{
     width:auto;
}
section#maketpart3,section#reception1 {
    background: #f3f4f6;

  }
.sy-btn {
    background: #ffffff;
    background: -moz-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3eb9ff), color-stop(100%, #2772ff));
    background: -webkit-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
    background: -o-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
    background: -ms-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
    background: linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3eb9ff, endColorstr=#2772ff, GradientType=1);
}
.btns {

    color: #fff;
    border: none;
    width: 88px;
    height: 34px;
    border-radius: 3px;
}
.btns a{

    color: #fff;
    border: none;

}
section#reception3 {
   padding-top:140px;

    /* background:url(../img/Intelligentreception/beijing_2.png); */
    background: #f3f4f6;
  }
  section#reception4 {

    width:100%;
    height:756px;
      background:url(../img/Intelligentreception/beijing_2.png) center ;

   }
   #reception4 img{
       width:auto;
   }
  /* #maketpart2 ul li,#maketpart3 ul li{
      float:left;
      margin-left: 10px;
      margin-bottom: 10px;
  }

  #maketpart3 ul li{
    width: 23%;
    position: relative;
    background-color: #fff;
    padding: 40px 10px 63px 10px;

    border-radius: 4px;
} */

/* 悬浮球样式 */
#ball-box {
  height: 500px;
  position: relative;
}
.ball-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 3s; */
  text-align: center;
  line-height: 1.4;
  border-radius: 50%;
  padding: 12px;
  color: #fff;
}
