/* 公共部分样式：如头部、底部、侧边栏 */
/* 头部样式 */
.nav-box { height: 80px; }
.user-name { position: relative; }
.user-name .glyphicon {
  font-size: 12px;
  margin-left: 10px;
}
.navbar-nav .account .user-op { top: 67px; }



header .navbar-default {
  background: none;
  border: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav {
  padding-top: 8px;
  position: absolute;
  margin-left: -220px;
  left: 50%;
}

.nav-content {
  width: 1280px;
  position: absolute;
  z-index: 99;
  top: -78px;
  left: 50%;
  margin-left: -640px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 4px 15px 36px -12px #e2e1e1;
}
.nav-content ul {
  /* float: left; */
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-content li {
  flex: 1;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 40px;
}
.navbar-right >li {
  height: 54px;
}
header .btns {
  color: #fff;
  border: none;
  width: 88px;
  height: 35px;
  border-radius: 3px;
}

header .btnbg:hover {
  border: 1px solid #409fff;
  color: #409fff
}

header .login-btn {
  padding: 8px 30px 8px 30px;
  background: none;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #fff;
}

header .btnbg {
  padding: 8px 30px 8px 30px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right, #40bfff 0%, #266eff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* padding: 5px 15px;*/
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #40bfff, #266eff);
  border-image-slice: 10;
}
header #login-btn.btnbg {
  -webkit-text-fill-color: #7fd4ff;
  text-fill-color: #7fd4ff;
  color: #7fd4ff;
  background: none;
  border: 1px solid #7fd4ff;
  border-radius: 3px;
}
header #login-btn.btnbg:hover {
  -webkit-text-fill-color: #409fff;
  text-fill-color: #409fff;
  color: #409fff;
  border: 1px solid #409fff;
}
header .login-btn:hover {
  border: 1px solid #409fff;
  background: none;
  color: #409fff;
}
header .navbar-default.scrolled ul.navbar-nav li .select {
  background-image: url(../img/freeze/icon-xila.png);
  background-repeat: no-repeat;
  height: 8px;
  width: 10px;
  margin-left: 8px;
  display: inline-block;
}
header .navbar-default ul.navbar-nav>li:hover .select {
/* header .navbar-default ul.navbar-nav li .selecthover { */
  background-image: url(../img/freeze/icon_0xialafan.png);
  background-repeat: no-repeat;
  height: 8px;
  width: 10px;
  margin-left: 8px;
  display: inline-block;
}

header .navbar-default ul.navbar-nav li .select {
  background-image: url(../img/freeze/icon_0xiala.png);
  background-repeat: no-repeat;
  height: 8px;
  width: 10px;
  margin-left: 8px;
  display: inline-block;
}
header .sy-btn {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3eb9ff), color-stop(100%, #2772ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
  /* IE10+ */
  background: linear-gradient(90deg, #3eb9ff 0%, #2772ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3eb9ff, endColorstr=#2772ff, GradientType=1);
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav>li:last-child>a:after {
  content: '';
  width: 65px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: -15px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled ul.navbar-nav>li:last-child>a:after {
  content: '';
  width: 65px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: -15px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled ul.navbar-nav>li>a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: -15px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav>li>a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: -15px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav>li:hover>a {
  color: #409fff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav>li:hover>a:after {
  background: #409fff;
}

header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}

header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}

header .navbar-default.scrolled {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 51, 102, 0.15);
  -moz-box-shadow: 0px 2px 6px rgba(0, 51, 102, 0.15);
  box-shadow: 0px 2px 6px rgba(0, 51, 102, 0.15);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}

header .navbar-default.scrolled .navbar-brand img {
  width: auto;
  max-height: 33px;
}

header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 10px;
  position: absolute;
  margin-left: -220px;
  left: 50%;
}
header {
  background: #66cdcc;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}

header .navbar-default ul.navbar-nav li a.getApp {
  color: #3c79b4;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

header .navbar-default ul.navbar-nav li a.getApp:hover {
  color: #4081bf;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav>li>a:hover {
  color: #409fff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled {
  /* padding-top: 18px;
  padding-bottom: 20px; */
  /* border-bottom: 3px solid #336799; */
}

header .navbar-default.scrolled ul.navbar-nav>li>a {
  color: #000;
}

header .navbar-default.scrolled ul.navbar-nav>li:hover>a {
  color: #409fff;
}

header .navbar-default.scrolled ul.navbar-nav>li>a:hover:after {
  background: #409fff;
}

header .navbar-default .navbar-brand {
  /* background: #336799; */
  width: 210px;
  height: 45px;
  background: url(../img/freeze/top_logo.png)
}

header .navbar-default.scrolled .navbar-brand {
  /* background: #336799; */
  width: 210px;
  height: 45px;
  background: url(../img/freeze/top_logo1.png)
}

@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }
  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #336799;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #ffffff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
}

  /* 二级导航样式 */
  #select>ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smallnav ul li:hover a,
  .smallnav ul li:hover h3{
    color: #409fff;
  }


  #select ul li a {
    color: #979899;
    text-decoration: none;
    display: block;
    padding: 0 20px;
  }

  #select ul li a:hover,
  #select ul li a:hover>p,
  #select ul li a:hover>span {
    color: #409fff;
  }

  #select ul li a>span {
    color: #303133;
  }
  #select ul li a p {
    font-size: 12px;
    color: #979899;
    padding-top: 8px;
    margin: 0;
  }

  #select ul li a p:hover {
    color: #409fff;
  }

  #select li {
    position: relative;
    width: 30%;
    padding: 35px 28px;
    float: left;
  }

  #select .pro-1:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 22px;
    background-image: url(../img/select/icon_4shejiao.png);
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    z-index: 1;
  }

  #select .pro-2:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 22px;
    background-image: url(../img/select/icon_4zhineng.png);
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    z-index: 1;
  }

  #select .pro-3:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 22px;
    background-image: url(../img/select/icon_4team.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 1;
  }

  #select .pro-4:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 22px;
    background-image: url(../img/select/icon_4company.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 1;
  }

  #select .pro-5:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 22px;
    background-image: url(../img/select/icon_4join.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 1;
  }








/* 侧边栏样式 */
.fix-Side {
  width: 72px;
  height: 280px;
  margin-top: -140px;
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 50%;
}
#side .toTop { display: none; }
#side>li>img {
  width: 34px;
  height: 34px;
}
#side>.hover>img { display: none; }
.fix-Side li {
  cursor: pointer;
  position: relative;
  width: 72px;
  height: 72px;
  text-align: center;
  background: #177ee5;
  padding-top: 19px;
  padding-bottom: 19px;
}
.fix-Side li>.before {
  width: 40px;
  height: 1px;
  position: absolute;
  z-index: 99999;
  top: 0px;
  left: 15px;
  background: #409fff;
}
.tel { display: none; }
.hover .tel {
  display: block;
  position: absolute;
  top: 8px;
  left: -182px;
  color: #fff;
  font-size: 20px;
  width: 182px;
  height: 64px;
  padding-top: 15px;
  background: url(../img/qipao1.png);
}
.erweima { display: none; }
.erweima img {
  width: 116px;
  margin: 0 auto;
  display: block;
}
.hover .erweima span {
  font-size: 14px;
  color: #606366;
}
.hover .erweima {
  position: absolute;
  top: 8px;
  left: -182px;
  color: #fff;
  padding-top: 18px;
  font-size: 20px;
  width: 182px;
  background: url(../img/qipao2.png);
  height: 179px;
  display: block;
}
.tip {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0;
  display: none;
}
.hover .tip { display: block; }
