@import '~@/assets/stylus/mixin'
#home
  .home-wrapper
    text-align: center
    .wrapper-item
      display: inline-block
      clear()
      .content
        clear()
        .float-left
          float left
    .platform-wrapper
      text-align: left
      padding-top: 70px
      .float-left
        float left
      .part1
        width: 583px
        margin-right: 208px
        margin-top: 46px
        .p1
          font-size: 30px
          color: #383737
        .p2
          font-size: 18px
          color: #3b3b3b
          margin-top: 14px
        .bottom
          font-size: 14px
          color: #8a8888
          line-height: 28px
          margin-top: 33px
      .part2
        img 
          width: 490px
          height 300px
    .product-wrapper 
      padding-top: 150px
      .title1
        font-size: 30px
        color: #409fff
      .title2
        font-size: 20px
        color: #cccccc
        margin-top: 20px
      .content
        margin-top: 100px
        .float-left
          width 350px
          margin-right: 114px
          &:nth-last-of-type(1)
            margin-right: 0
          .p1
            font-size: 20px
            color: #333333
            margin-top: 60px
          .p2
            margin-top: 15px
            font-size: 14px
            color: #333333
          .line
            height 2px
            width: 40px
            margin-top: 30px
            margin-bottom: 30px
            display: inline-block
            background-color: #409eff
          .p3
            color: #666666
            line-height: 28px
    .service-wrapper
      margin-top: 79px
      width 100%
      height 540px
      background-image url('../../assets/images/home/serverBg.png')
      background-size: 100% 100%
      color: #fff
      .title1
        font-size: 30px
        margin-top: 100px
      .title2
        margin-top: 20px
      .content
        display: inline-block
        margin-top: 100px
        .float-left
          width: 182px
          margin-right: 215px
          &:nth-last-of-type(1)
            margin-right: 0
          .img
            img 
              width: 88px
              height 88px
          .p1
            font-size: 20px
            margin-top: 30px
          .p2
            margin-top: 20px 

        
