.statistics-page
  padding 0px 20px
  background-color: #ffffff;
  *
    font-family: MicrosoftYaHei;
  .title-height
    height  130px
  .padding10
    padding-top 10px
  .padding20
    padding 20px
  .paddingtb30
    padding 30px  0
  .paddingb30
    padding-bottom 30px
  .paddingt40
    padding-top 40px
  .margintb20
    margin 20px 0
  .margintb30
    margin 30px 0
  .marginb30
    margin-bottom 30px
  .margint40
    margin-top 40px
  .bottom-line
    border-bottom solid 1px  #edeff0
  .center
    text-align: center
  .text-strong
    font-weight: 700;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #303133;
  .text-dark
    letter-spacing: 0px;
    color: #303133;
  .text-light
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #606366;
  .text-small
    height: 11px;
    font-size: 12px;
    line-height: 28px;
    color: #303133;
  .echarts-pie-tool-pointer
    display inline-block
    width: 10px
    height 10px
    border-radius: 10px
  .statisList
    display flex
    justify-content space-between
    font-size 14px
  .s-title
    height: 40px;
    background-color: #f7f9fa;
    padding: 13px 20px
    border-bottom: solid 1px #e3e4e6;
  .border-left
    padding-left 10px
    border-left: solid 3px #409eff;
    height: 12px;
    line-height: 12px
    display inline-block
  .card-border
    border: solid 1px #e3e4e6;
  // views
  .echart-statisWrap
    .echart-statisDate
      padding 10px 20px
      height: 60px;
      background-color: #f7f9fa;
    .echart-statisList
      padding 10px 20px
    .echart-statisTChart
      height 340px

.pop-h{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #303133;
  }

.pop-p{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #606366;
}
