// 公用样式
.fn10
  font-size:10px
.fn12
  font-size:12px
.fn14
  font-size:14px
.fn16
  font-size:16px
.fn18
  font-size:18px
.fn20
  font-size:20px
.fn22
  font-size:22px
.fn24
  font-size:24px
.fn26
  font-size:26px
.fn28
  font-size:28px
.fn30
  font-size:30px
.fn32
  font-size:32px
.cursor
  cursor:pointer
.fl
  float:left
.fr
  float:right
.clear:after
  content:''
  clear:both
  display:block
.over-hide
  overflow:hidden
.text_over
  display inline-block
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.text_over2
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden
.text_over3
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden
.title_public
  padding: 12px 0 18px 0
  font-size: 18px
  color: #0c0c0d
  border-bottom: solid 1px #e3e5e6
.text_color
  color:#409eff
.light_color
  color:#e3e4e6
.err_color
  color:#f56c6c
.suc_color
  color:#09bb07
.gray_color
  color: #787c80
.lightGray_color
  color: #979899

text_color = #409eff
light_color = #e3e4e6
err_color = #f56c6c
success_color = #09bb07

/*弹性布局*/
.flex
  display: flex
.flexA
  display: flex
  align-items: center
  justify-content: space-around
.flexB
  display: flex
  align-items: center
  justify-content: space-between
.flexC
  display: flex
  align-items: center
  justify-content: center
.flexIC
  display: flex
  align-items: center

// 重置部分iview样式
.ivu-modal-wrap
  z-index: 10001
.ivu-layout
  background: none
  background-color: transparent
  .ivu-layout-sider
    background: none
    background-color: transparent
// .ivu-page
//   .ivu-select-selection,.ivu-select-selected-value
//     height: 32px !important
//     line-height: 32px !important
//   .ivu-page-options-elevator input
//     height: 32px

/*// 重置样式开始*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

input, button, select, textarea
  outline: none
  -webkit-appearance: none
  border-radius: 0
  border:0

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body,html
  font-family: 'Microsoft Yahei', 'Source Sans Pro', 'sans-serif'
  line-height: 1
  height:100%
  // min-height: 641px
  // min-width: 961px
i
  font-style:normal
 /* 重置样式结束*/
.popip-text
  color #606366
  padding 2px 0 8px
