@font-face {
  font-family: 'iconfont';  /* project id 832024 */
  src: url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.eot');
  src: url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.woff') format('woff'),
  url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_832024_ox7g9eoy50e.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// <span class="icon">&#xe748;</span>

